main .container {
  float: right;
  width: 50%;
}

main span::after {
  content: "$";
  color: gray;
}

main .itemnumber::before {
  content: "#";
  color: gray;
}

main .itemnumber::after {
  content: "";
}
